Repository helmuthdu/vue-starter: changes, and which lefthook commands are due for each by the changed paths.
All: js, css, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    js:
      glob: "*.{js,jsx,ts,tsx,vue}"
      run: npx prettier --write {staged_files} && npx eslint --fix {staged_files} && git add {staged_files}
    css:
      glob: "*.{css,scss,vue}"
      run: npx prettier --write {staged_files} && npx stylelint --fix {staged_files} && git add {staged_files}
    test:
      glob: "*.{js,jsx,ts,tsx,vue}"
      run: npx jest --findRelatedTests {staged_files}

chore: update lefthook.yml file
  lefthook.yml
Due: none

chore: update package.json
  package.json
Due: none

chore: update stylelintrc
  .stylelintrc
Due: none

chore: update .prettierignore
  .prettierignore
Due: none

chore: improved eslint integration
  .eslintrc.js
  package.json
Due: js, test

chore: minor change
  babel.config.js
Due: js, test

chore: update http util
  src/utils/http.util.ts
Due: js, test

fix: jest test failing
  babel.config.js
  jest.config.js
  package.json
Due: js, test

feat: replaced husky by lefthook
  lefthook.yml
  package.json
Due: none

feat: added stylelint
  .stylelintrc
  package.json
Due: none

chore: added stylelint script command
  package.json
Due: none

fix: style linter error
  src/layouts/default.layout.vue
Due: js, css, test

chore: update stylelintrc file
  .stylelintrc
Due: none

chore: update .ncurc.json file
  .ncurc.json
Due: none

chore: update .stylelintrc
  .stylelintrc
Due: none

feat: progressbar support
  package.json
  src/app.vue
  src/routes/index.ts
  src/utils/http.util.ts
  src/utils/logger.util.ts
  src/utils/progress-bar.util.ts
Due: js, css, test

chore: minor change
  src/routes/index.ts
Due: js, test

chore: update progress-bar util
  src/utils/progress-bar.util.ts
Due: js, test

chore: improved scroll behavior when changing routes
  src/routes/index.ts
Due: js, test

chore: update logger util
  src/utils/logger.util.ts
Due: js, test

feat: new promise hook
  src/hooks/promise.hook.ts
Due: js, test

feat: update promise hook
  src/hooks/promise.hook.ts
Due: js, test

feat: added suspense component example
  src/components/utils/suspense/suspense.vue
Due: js, css, test

chore: minor change
  jest.config.js
Due: js, test

chore: update worker hook
  src/hooks/worker.hook.ts
  src/modules/main/routes/home/home.route.vue
Due: js, css, test

chore: renamed to dom.util
  src/utils/dom.util.ts
Due: js, test

fix: wrong prop name
  src/modules/main/routes/home/home.route.vue
Due: js, css, test

chore: update http util
  package.json
  src/utils/http.util.ts
Due: js, test

chore: update package.json
  .prettierrc
  package.json
Due: none
