Repository helmuthdu/vue-starter: changes, and which lefthook commands are due for each by the changed paths.
All: test:unit, lint:js, lint:vue, lint:css, lint:misc

test:unit:
  run: 'npx prettier --write {staged_files} && npx eslint --fix {staged_files} && npx vitest {staged_files} --run
  
    '

lint:js:
  run: 'npx prettier --write {staged_files} && npx eslint --fix {staged_files} && npx vitest related {staged_files} --passWithNoTests --run
  
    '

lint:vue:
  run: 'npx prettier --write {staged_files} && npx eslint --fix {staged_files}  && npx stylelint --fix {staged_files} && npx vitest related {staged_files} --passWithNoTests --run
  
    '

lint:css:
  run: 'npx prettier --write {staged_files} && npx stylelint --fix {staged_files}
  
    '

lint:misc:
  run: npx prettier --write {staged_files}

chore: update dependencies
  package.json
  src/modules/user/stores/user.store.ts
  src/utils/store.util.ts
Due: lint:js, lint:misc

feat: replaced eslint+prettier with biomejs
  .eslintignore
  .eslintrc
  .prettierignore
  .prettierrc
  biome.json
  lefthook.yml
  package.json
  src/hooks/observer.hook.ts
  src/hooks/promise.hook.ts
  src/hooks/storage.hook.ts
  src/hooks/worker.hook.ts
  src/layouts/__tests__/default.layout.test.ts
  src/locales/index.ts
  src/modules/main/api/features.api.ts
  src/modules/main/components/feature-list/feature-list.vue
  src/modules/main/layouts/__tests__/main.layout.test.ts
  src/modules/main/routes/about/__tests__/about.route.test.ts
  src/modules/main/routes/home/__tests__/home.route.test.ts
  src/modules/main/routes/home/home.route.vue
  src/modules/main/routes/index.ts
  src/modules/user/api/user.api.ts
  src/modules/user/entities/user/user.model.ts
  src/modules/user/layouts/__tests__/user.layout.test.ts
  src/modules/user/routes/index.ts
  src/modules/user/routes/sign-in/__tests__/sign-in.route.test.ts
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/user.store.ts
  src/routes/index.ts
  src/routes/network-error/__tests__/network-error.route.test.ts
  src/routes/not-found/__tests__/not-found.route.test.ts
  src/utils/broadcaster.util.ts
  src/utils/dom.util.ts
  src/utils/http.util.ts
  src/utils/logger.util.ts
  src/utils/progress-bar.util.ts
  src/utils/storage.util.ts
  src/utils/store.util.ts
  src/utils/toolbox.util.ts
  tsconfig.json
Due: test:unit, lint:js, lint:misc

fix: failing unit tests
  src/hooks/observer.hook.ts
  src/hooks/promise.hook.ts
  vite.config.ts
  vitest.config.ts
  vitest.setup.ts
Due: lint:js

fix: failing unit tests
  package.json
  src/layouts/__tests__/default.layout.test.ts
  src/locales/index.ts
  src/modules/main/layouts/__tests__/main.layout.test.ts
  src/modules/main/routes/home/home.route.vue
  src/modules/main/routes/index.ts
  src/modules/main/routes/paths.ts
  src/modules/user/layouts/__tests__/user.layout.test.ts
  src/modules/user/routes/index.ts
  src/modules/user/routes/paths.ts
  src/modules/user/stores/user.store.ts
  vite.config.ts
  vitest.config.ts
  vitest.setup.ts
Due: test:unit, lint:js, lint:misc

chore: code cleanup
  package.json
  src/hooks/observer.hook.ts
  src/layouts/__tests__/default.layout.test.ts
  src/modules/main/layouts/__tests__/main.layout.test.ts
  src/modules/user/index.ts
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/user.store.ts
  src/stores/index.ts
  vitest.setup.ts
Due: test:unit, lint:js, lint:misc

chore: code cleanup
  .vscode/extensions.json
  src/hooks/promise.hook.ts
Due: lint:js, lint:misc

chore: code cleanup
  biome.json
  src/hooks/promise.hook.ts
  src/modules/main/api/features.api.ts
  src/modules/main/components/feature-list/feature-list.vue
  src/modules/main/models/feature/feature.type.ts
  src/modules/user/api/user.api.ts
  src/modules/user/models/user/index.ts
  src/modules/user/models/user/user.model.ts
  src/modules/user/models/user/user.type.ts
  src/modules/user/routes/index.ts
  src/modules/user/stores/user.store.ts
  src/utils/storage.util.ts
Due: lint:js, lint:misc

chore: update dependencies
  package.json
Due: lint:misc

chore: update toolbox util
  src/utils/toolbox.util.ts
Due: lint:js

chore: update logger util
  src/utils/logger.util.ts
Due: lint:js

chore: update store util
  src/utils/store.util.ts
Due: lint:js

chore: update default prefix values
  src/utils/storage.util.ts
Due: lint:js

fix: wrong end state for promise hook
  src/hooks/promise.hook.ts
Due: lint:js

chore: update dependencies
  biome.json
  package.json
Due: lint:misc

chore: minor changes
  src/modules/main/api/features.api.ts
  src/modules/main/components/feature-list/feature-list.vue
  src/modules/main/models/feature/feature.type.ts
  src/modules/user/api/user.api.ts
  src/modules/user/models/user/index.ts
  src/modules/user/models/user/user.model.ts
  src/modules/user/models/user/user.type.ts
  src/modules/user/stores/user.store.ts
Due: lint:js

chore: update dom util
  src/utils/dom.util.ts
Due: lint:js

chore: improved logger util
  src/utils/logger.util.ts
Due: lint:js

chore: new assert fn in the toolbox util
  src/utils/toolbox.util.ts
Due: lint:js

chore: update vscode config
  .vscode/extensions.json
  .vscode/settings.json
Due: lint:misc

chore: minor change for observer hook
  src/hooks/observer.hook.ts
Due: lint:js

chore: update promise hook
  src/hooks/promise.hook.ts
Due: lint:js

chore: minor change for the storage hook
  src/hooks/storage.hook.ts
Due: lint:js

chore: minor change for the worker hook
  src/hooks/worker.hook.ts
Due: lint:js

chore: removed nprogress package
  package.json
  src/routes/index.ts
  src/utils/http.util.ts
Due: lint:js, lint:misc

chore: removed nprogress package
  .stylelintrc
  src/utils/progress-bar.util.ts
Due: lint:js

chore: code cleanup
  src/app.vue
  src/hooks/storage.hook.ts
  src/hooks/worker.hook.ts
  src/locales/index.ts
  src/modules/user/api/user.api.ts
  src/modules/user/stores/user.store.ts
  src/routes/index.ts
  src/utils/__tests__/toolbox.test.ts
  src/utils/dom.util.ts
  src/utils/env.util.ts
  src/utils/index.ts
  src/utils/store.util.ts
Due: test:unit, lint:js

chore: update dependencies
  biome.json
  package.json
  tsconfig.json
Due: lint:misc

chore: minor changes
  src/utils/broadcaster.util.ts
  src/utils/toolbox.util.ts
Due: lint:js

chore: update dependencies
  biome.json
  package.json
  src/app.vue
Due: lint:misc

fix: process not found
  src/utils/env.util.ts
Due: lint:js

chore: udpate toolbox util
  src/utils/toolbox.util.ts
Due: lint:js

chore: code cleanup
  src/modules/main/routes/index.ts
  src/routes/index.ts
  src/routes/not-found/not-found.route.vue
Due: lint:js

chore: update dependencies
  biome.json
  package.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: lint:misc

chore: update utils
  src/utils/storage.util.ts
  src/utils/toolbox.util.ts
Due: lint:js

Path conditions:
  test:unit: any of: *.{spec,test}.{[tj]s,[tj]sx}
  lint:js: any of: *[!.{spec,test}].{[tj]s,[tj]sx}
  lint:vue: any of: *.{vue}
  lint:css: any of: *.{css,scss}
  lint:misc: any of: *.{html,json,yml}
