Repository helmuthdu/vue-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: npx eslint --fix {staged_files}
    stylelint:
      glob: '*.{css,scss,vue}'
      run: npx stylelint --fix {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,json,yml}'
      run: npx prettier --write {staged_files}
    test:
      glob: '*.{js,jsx,ts,tsx,vue}'
      run: npx jest --findRelatedTests {staged_files}

chore: update translation util
  src/locales/index.ts
Due: eslint, prettier, test

chore: update translation util
  src/locales/index.ts
  src/locales/messages/en-US.json
  src/routes/index.ts
Due: eslint, prettier, test

feat: update stylelint config
  .stylelintrc
  package.json
Due: prettier

chore: update translation util
  .env
  src/locales/index.ts
  src/routes/index.ts
  src/utils/storage.util.ts
Due: eslint, prettier, test

chore: minor changes
  .env
  src/utils/storage.util.ts
Due: eslint, prettier, test

fix: fail to load translation
  src/locales/index.ts
Due: eslint, prettier, test

chore: update package.json
  .ncurc.json
  package.json
Due: prettier

chore: merge with master
  .env
  .stylelintrc
  package.json
  src/locales/index.ts
  src/locales/messages/en-US.json
  src/routes/index.ts
  src/utils/security.util.ts
  src/utils/storage.util.ts
Due: eslint, prettier, test

feat: replaced vuex for pinia
  package.json
  src/layouts/default.layout.vue
  src/main.ts
  src/modules/user/api/user.api.ts
  src/modules/user/models/user/index.ts
  src/modules/user/models/user/user.model.ts
  src/modules/user/models/user/user.type.ts
  src/modules/user/routes/sign-in/__tests__/sign-in.route.test.ts
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/index.ts
  src/modules/user/stores/modules/user/__tests__/actions.test.ts
  src/modules/user/stores/modules/user/__tests__/mutations.test.ts
  src/modules/user/stores/modules/user/actions.ts
  src/modules/user/stores/modules/user/getters.ts
  src/modules/user/stores/modules/user/index.ts
  src/modules/user/stores/modules/user/mutations.ts
  src/modules/user/stores/modules/user/state.ts
  src/modules/user/stores/modules/user/types.ts
  src/modules/user/stores/user.store.ts
  src/routes/index.ts
  src/stores/index.ts
  src/stores/root.ts
  vite.config.ts
Due: eslint, stylelint, prettier, test

chore: minor change
  src/modules/user/api/user.api.ts
  src/modules/user/entities/user/index.ts
  src/modules/user/entities/user/user.model.ts
  src/modules/user/entities/user/user.type.ts
  src/modules/user/stores/user.store.ts
Due: eslint, prettier, test

chore: update package.json
  package.json
Due: prettier

chore: improved store usage
  .eslintrc.js
  .ncurc.json
  .stylelintrc
  package.json
  src/modules/user/api/user.api.ts
  src/modules/user/entities/user/index.ts
  src/modules/user/entities/user/user.model.ts
  src/modules/user/entities/user/user.type.ts
  src/modules/user/index.ts
  src/modules/user/routes/sign-in/__tests__/sign-in.route.test.ts
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/index.ts
  src/modules/user/stores/modules/user/__tests__/actions.test.ts
  src/modules/user/stores/modules/user/__tests__/mutations.test.ts
  src/modules/user/stores/modules/user/actions.ts
  src/modules/user/stores/modules/user/getters.ts
  src/modules/user/stores/modules/user/index.ts
  src/modules/user/stores/modules/user/mutations.ts
  src/modules/user/stores/modules/user/state.ts
  src/modules/user/stores/modules/user/types.ts
  src/modules/user/stores/modules/user/user.store.ts
  src/routes/index.ts
  src/stores/index.ts
  src/stores/root.ts
  src/utils/http.util.ts
Due: eslint, stylelint, prettier, test

chore: minor changes
  .stylelintrc
  package.json
  src/layouts/default.layout.vue
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/user.store.ts
  src/stores/index.ts
  tests/e2e/.eslintrc.js
  vite.config.ts
Due: eslint, stylelint, prettier, test

feat: nanostore integration
  jest.config.js
  package.json
  src/main.ts
  src/modules/user/entities/user/user.type.ts
  src/modules/user/routes/sign-in/__tests__/sign-in.route.test.ts
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/user.store.ts
  src/stores/index.ts
Due: eslint, stylelint, prettier, test

chore: improved nanostore integration
  package.json
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/user.store.ts
  src/routes/index.ts
  src/shims-vue.d.ts
  src/stores/index.ts
Due: eslint, stylelint, prettier, test

chore: improved nanostore integration
  src/modules/user/stores/user.store.ts
  src/shims-vue.d.ts
Due: eslint, prettier, test

chore: improved pinia integration
  package.json
  src/modules/user/entities/user/user.type.ts
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/user.store.ts
  src/routes/index.ts
  src/shims-vue.d.ts
  src/stores/index.ts
Due: eslint, stylelint, prettier, test

chore: improved nanostore integration
  package.json
  src/env.d.ts
  src/modules/user/stores/user.store.ts
  src/routes/index.ts
  src/vite-env.d.ts
  tsconfig.json
Due: eslint, prettier, test

chore: minor changes
  package.json
  src/env.d.ts
  src/vite-env.d.ts
  tsconfig.json
Due: eslint, prettier, test

chore: minor changes
  .eslintrc.js
  jest.config.js
  package.json
  src/main.ts
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/modules/user/__tests__/actions.test.ts
  src/modules/user/stores/modules/user/user.store.ts
  src/shims-vue.d.ts
  src/stores/index.ts
  tsconfig.json
Due: eslint, stylelint, prettier, test

chore: minor changes
  tsconfig.json
Due: prettier

chore: minor changes
  package.json
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/user.store.ts
  src/routes/index.ts
Due: eslint, stylelint, prettier, test

feat: replaced vue-i18n by @nanostores/i18n
  jest.config.js
  package.json
  src/locales/index.ts
  src/locales/messages/en-US.json
  src/main.ts
  src/modules/main/routes/home/home.route.vue
  src/routes/index.ts
Due: eslint, stylelint, prettier, test

feat: improved @nanostores/i18n integration
  package.json
  src/locales/index.ts
  src/modules/main/routes/home/home.route.vue
Due: eslint, stylelint, prettier, test

feat: improved @nanostores/i18n integration
  .eslintrc.js
  src/hooks/observer.hook.ts
  src/locales/index.ts
  src/modules/main/api/features.api.ts
  src/modules/main/api/features.json
  src/modules/main/entities/feature/feature.type.ts
  src/modules/main/routes/home/home.route.vue
Due: eslint, stylelint, prettier, test

feat: improved i18n integration
  package.json
  src/hooks/observer.hook.ts
  src/locales/index.ts
  src/modules/main/api/features.api.ts
  src/modules/main/api/features.json
  src/modules/main/entities/feature/feature.type.ts
  src/modules/main/routes/home/home.route.vue
  src/modules/user/routes/sign-in/sign-in.route.vue
Due: eslint, stylelint, prettier, test

chore: replaced bulma by tailwind
  .stylelintrc
  lefthook.yml
  package.json
  postcss.config.js
  src/app.vue
  src/modules/main/layouts/main.layout.vue
  src/routes/index.ts
  src/utils/http.util.ts
  tailwind.config.js
Due: eslint, stylelint, prettier, test

chore: update packages
  .eslintrc.js
  package.json
  src/env.d.ts
  src/routes/network-error/network-error.route.vue
  src/utils/progress-bar.util.ts
Due: eslint, stylelint, prettier, test

chore: update packages
  .eslintrc.js
  .prettierrc
  jest.config.js
  package.json
  src/app.vue
  src/components/utils/suspense/suspense.vue
  src/layouts/default.layout.vue
  src/modules/main/layouts/main.layout.vue
  src/modules/main/routes/about/about.route.vue
  src/modules/main/routes/home/home.route.vue
  src/modules/user/layouts/user.layout.vue
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/routes/not-found/not-found.route.vue
Due: eslint, stylelint, prettier, test

chore: update packages.sjon
  .eslintrc.js
  .prettierrc
  jest.config.js
  package.json
  src/app.vue
  src/components/utils/suspense/suspense.vue
  src/layouts/default.layout.vue
  src/modules/main/layouts/main.layout.vue
  src/modules/main/routes/about/about.route.vue
  src/modules/main/routes/home/home.route.vue
  src/modules/user/layouts/user.layout.vue
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/routes/not-found/not-found.route.vue
  tests/unit/setupTest.js
Due: eslint, stylelint, prettier, test

chore: update packages.json
  package.json
Due: prettier

chore: merged from nanostores
  .eslintrc.js
  .prettierrc
  package.json
  src/app.vue
  src/components/utils/suspense/suspense.vue
  src/hooks/observer.hook.ts
  src/layouts/default.layout.vue
  src/modules/main/api/features.api.ts
  src/modules/main/api/features.json
  src/modules/main/entities/feature/feature.type.ts
  src/modules/main/layouts/main.layout.vue
  src/modules/main/routes/about/about.route.vue
  src/modules/main/routes/home/home.route.vue
  src/modules/user/entities/user/user.type.ts
  src/modules/user/layouts/user.layout.vue
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/routes/not-found/not-found.route.vue
  src/shims-vue.d.ts
  tsconfig.json
Due: eslint, stylelint, prettier, test

chore: improved store usage
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/user.store.ts
Due: eslint, stylelint, prettier, test

chore: update package.json
  .browserslistrc
  .eslintrc.js
  .ncurc.json
  jest.config.js
  package.json
  src/main.ts
  src/modules/user/routes/sign-in/__tests__/sign-in.route.test.ts
  src/routes/not-found/not-found.route.vue
  src/shims-vue.d.ts
  src/stores/index.ts
  src/utils/progress-bar.util.ts
  vue.config.js
Due: eslint, stylelint, prettier, test
