Repository helmuthdu/vue-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: npx eslint --fix {staged_files}
    stylelint:
      glob: '*.{css,scss,vue}'
      run: npx stylelint --fix {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,json,yml}'
      run: npx prettier --write {staged_files}
    test:
      glob: '*.{js,jsx,ts,tsx,vue}'
      run: npx jest --findRelatedTests {staged_files}

chore: update package.json
  src/shims-vue.d.ts
Due: eslint, prettier, test

chore: update packages
  .browserslistrc
  .eslintrc.js
  .ncurc.json
  package.json
Due: eslint, prettier, test

chore: update packages
  .browserslistrc
  .eslintrc.js
  .ncurc.json
  .prettierrc
  jest.config.js
  package.json
Due: eslint, prettier, test

chore: update packages
  package.json
Due: prettier

chore: update packages
  .ncurc.json
  package.json
Due: prettier

chore: update packages
  .ncurc.json
  babel.config.js
  jest.config.js
  lefthook.yml
  package.json
Due: eslint, prettier, test

chore: update lefthook
  lefthook.yml
Due: prettier

chore: update lefthook
  .prettierrc
  lefthook.yml
  package.json
Due: prettier

chore: update package.json
  .ncurc.json
  .prettierrc
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  babel.config.js
  jest.config.js
  lefthook.yml
  package.json
  tsconfig.json
Due: eslint, prettier, test

chore: update package.json
  .ncurc.json
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  lefthook.yml
  package.json
Due: eslint, prettier, test

chore: new misc util
  src/utils/misc.util.ts
  src/utils/security.util.ts
Due: eslint, prettier, test

chore: update package.json
  package.json
Due: prettier

chore: update merge method
  src/shims-vue.d.ts
  src/utils/misc.util.ts
Due: eslint, prettier, test

feat: new misc util
  src/env.d.ts
  src/utils/misc.util.ts
  src/utils/security.util.ts
Due: eslint, prettier, test

chore: update progress-bar util
  package.json
  src/utils/http.util.ts
  src/utils/progress-bar.util.ts
Due: eslint, prettier, test

chore: minor changes
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  jest.config.js
  lefthook.yml
  src/modules/user/stores/user.store.ts
  src/utils/script-loader.util.ts
  tests/unit/setupTest.ts
  ts.node.json
  tsconfig.json
Due: eslint, prettier, test

chore: minor changes
  lefthook.yml
  src/hooks/observer.hook.ts
  src/hooks/storage.hook.ts
  src/locales/index.ts
  src/main.ts
  src/modules/main/routes/home/home.route.vue
  src/modules/main/routes/index.ts
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/utils/script-loader.util.ts
  ts.node.json
  tsconfig.json
Due: eslint, stylelint, prettier, test

fix: wrong css ref
  src/app.vue
  tsconfig.node.json
Due: eslint, stylelint, prettier, test

chore: minor changes
  package.json
  tsconfig.node.json
Due: prettier

chore: minor changes
  .prettierignore
  lefthook.yml
  package.json
  src/app.vue
Due: eslint, stylelint, prettier, test

chore: minor changes
  package.json
Due: prettier

chore: update package.json
  .prettierignore
  lefthook.yml
  package.json
Due: prettier

chore: update package.json
  lefthook.yml
  package.json
Due: prettier

chore: update package.json
  .gitignore
  package.json
Due: prettier

chore: replace jest by vitest
  .gitignore
  .prettierignore
  cypress.json
  jest.config.js
  lint-staged.config.js
  package.json
  src/env.d.ts
  src/modules/main/routes/index.ts
  tests/e2e/.eslintrc.js
  tests/e2e/plugins/index.js
  tests/e2e/specs/test.js
  tests/e2e/support/commands.js
  tests/e2e/support/index.js
  tests/unit/.eslintrc.js
  tests/unit/setupTest.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
  wallaby.config.js
Due: eslint, prettier, test

chore: code cleanup
  src/routes/index.ts
  src/utils/dom.util.ts
  src/utils/http.util.ts
  src/utils/intersection-observer.util.ts
  src/utils/json-parse.util.ts
  src/utils/progress-bar.util.ts
  src/utils/script-loader.util.ts
  src/utils/toolbox.util.ts
Due: eslint, prettier, test

chore: replaced jest by vitest
  .gitignore
  babel.config.js
  cypress.json
  jest.config.js
  package.json
  tests/e2e/.eslintrc.js
  tests/e2e/plugins/index.js
  tests/e2e/specs/test.js
  tests/e2e/support/commands.js
  tests/e2e/support/index.js
  tests/unit/.eslintrc.js
  tests/unit/setupTest.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
  wallaby.config.js
Due: eslint, prettier, test

chore: code cleanup
  lint-staged.config.js
  src/hooks/observer.hook.ts
  src/hooks/storage.hook.ts
  src/locales/index.ts
  src/main.ts
  src/modules/main/routes/home/home.route.vue
  src/modules/main/routes/index.ts
  src/routes/index.ts
  src/routes/network-error/network-error.route.vue
  src/utils/dom.util.ts
  src/utils/http.util.ts
  src/utils/intersection-observer.util.ts
  src/utils/json-parse.util.ts
  src/utils/progress-bar.util.ts
  src/utils/script-loader.util.ts
  src/utils/toolbox.util.ts
Due: eslint, stylelint, prettier, test

chore: code cleanup
  babel.config.js
  src/utils/script-loader.util.ts
  src/utils/toolbox.util.ts
Due: eslint, prettier, test
