Repository helmuthdu/vue-starter: changes, and which lefthook commands are due for each by the changed paths.
All: test:unit, lint:js, lint:vue, lint:css, lint:misc

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    test:unit:
      glob: '*.{spec,test}.{[tj]s,[tj]sx}'
      run: >
        npx prettier --write {staged_files} &&
        npx eslint --fix {staged_files} &&
        npx vitest {staged_files} --run
    lint:js:
      glob: '*[!.{spec,test}].{[tj]s,[tj]sx}'
      run: >
        npx prettier --write {staged_files} &&
        npx eslint --fix {staged_files} &&
        npx vitest related {staged_files} --passWithNoTests --run
    lint:vue:
      glob: '*.{vue}'
      run: >
        npx prettier --write {staged_files} &&
        npx eslint --fix {staged_files}  &&
        npx stylelint --fix {staged_files} &&
        npx vitest related {staged_files} --passWithNoTests --run
    lint:css:
      glob: '*.{css,scss}'
      run: >
        npx prettier --write {staged_files} &&
        npx stylelint --fix {staged_files}
    lint:misc:
      glob: '*.{html,json,yml}'
      run: npx prettier --write {staged_files}

chore: user store refactory
  src/modules/user/api/user.api.ts
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/user.store.ts
Due: lint:js

chore: update dependencies
  biome.json
  lefthook.yml
  package.json
Due: lint:misc

feat: support cache and timeout in http util
  src/utils/http.util.ts
Due: lint:js

chore: refactory store util
  src/utils/store.util.ts
Due: lint:js

feat: new notification store
  src/stores/notification.store.ts
Due: none

chore: update global store importer
  src/stores/index.ts
Due: lint:js

chore: update dependencies
  package.json
Due: lint:misc

chore: code cleanup
  lefthook.yml
  src/locales/index.ts
  src/models/notification/notification.type.ts
  src/modules/home/api/features.api.ts
  src/modules/home/api/features.json
  src/modules/home/components/feature-list/feature-list.vue
  src/modules/home/index.ts
  src/modules/home/layouts/__tests__/main.layout.test.ts
  src/modules/home/layouts/main.layout.vue
  src/modules/home/models/feature/feature.type.ts
  src/modules/home/routes/about/__tests__/about.route.test.ts
  src/modules/home/routes/about/about.route.vue
  src/modules/home/routes/home/__tests__/home.route.test.ts
  src/modules/home/routes/home/home.route.vue
  src/modules/home/routes/index.ts
  src/modules/home/routes/paths.ts
  src/modules/index.ts
  src/modules/main/index.ts
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/index.ts
  src/modules/user/stores/user.store.ts
  src/routes/index.ts
  src/routes/not-found/not-found.route.vue
Due: test:unit, lint:js, lint:misc

chore: update utils
  package.json
  src/modules/user/models/user/user.model.ts
  src/modules/user/models/user/user.type.ts
  src/utils/colors.util.ts
  src/utils/http.util.ts
  src/utils/permissions.util.ts
  src/utils/toolbox.util.ts
Due: lint:js, lint:misc

chore: update dependencies
  .npmrc
  package.json
Due: lint:misc

chore: added nvmrc config file
  .nvmrc
Due: none

chore: update sass and vite dependencies
  package.json
Due: lint:misc

chore: refactor locale management and update HomeRoute component
  src/locales/index.ts
  src/modules/home/routes/home/home.route.vue
Due: lint:js

chore: update imports and refactor user store management
  src/hooks/promise.hook.ts
  src/models/notification/notification.type.ts
  src/modules/index.ts
  src/modules/user/api/user.api.ts
  src/modules/user/index.ts
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/modules/user/stores/index.ts
  src/modules/user/stores/user.store.ts
  src/routes/index.ts
  src/stores/index.ts
  src/stores/notification.store.ts
  src/utils/logger.util.ts
  src/utils/store.util.ts
Due: lint:js

chore: refactor utils
  src/modules/index.ts
  src/modules/user/index.ts
  src/modules/user/models/user/user.model.ts
  src/modules/user/stores/index.ts
  src/modules/user/stores/user.store.ts
  src/stores/index.ts
  src/stores/notification.store.ts
  src/utils/broadcaster.util.ts
  src/utils/colors.util.ts
  src/utils/dom.util.ts
  src/utils/env.util.ts
  src/utils/http.util.ts
  src/utils/logger.util.ts
  src/utils/permissions.util.ts
  src/utils/storage.util.ts
  src/utils/store.util.ts
  src/utils/toolbox.util.ts
Due: lint:js
