Repository helmuthdu/vue-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier, test

eslint:
  run: npx eslint --fix {staged_files}

stylelint:
  run: npx stylelint --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

test:
  run: npx jest --findRelatedTests {staged_files}

chore: update http util
  src/utils/http.util.ts
Due: eslint, prettier, test

chore: update logger util
  src/utils/logger.util.ts
Due: eslint, prettier, test

chore: added scrollBehavior
  src/routes/index.ts
Due: eslint, prettier, test

chore: update worker hook
  src/hooks/worker.hook.ts
Due: eslint, prettier, test

chore: update packages
  package.json
Due: prettier

chore: added bracketSameLine rule
  .prettierignore
  .prettierrc
Due: none

fix: new linter code style
  src/app.vue
  src/layouts/default.layout.vue
  src/modules/main/layouts/main.layout.vue
  src/modules/main/routes/about/about.route.vue
  src/modules/main/routes/home/home.route.vue
  src/modules/user/layouts/user.layout.vue
  src/modules/user/routes/sign-in/sign-in.route.vue
  src/routes/not-found/not-found.route.vue
Due: eslint, stylelint, prettier, test

chore: minor change
  src/modules/main/layouts/main.layout.vue
  src/modules/user/layouts/user.layout.vue
  src/modules/user/routes/sign-in/sign-in.route.vue
Due: eslint, stylelint, prettier, test

chore: update package.json
  package.json
Due: prettier

package: update package.json
  package.json
Due: prettier

fix: update observer hook
  src/hooks/observer.hook.ts
Due: eslint, prettier, test

fix: update observer hook
  src/hooks/observer.hook.ts
  src/modules/main/routes/home/home.route.vue
Due: eslint, stylelint, prettier, test

chore: update package.json
  .gitignore
  .ncurc.json
  package.json
Due: prettier

feat: new promise hook
  src/hooks/promise.hook.ts
Due: eslint, prettier, test

fix: update observer hook
  src/modules/main/routes/home/home.route.vue
Due: eslint, stylelint, prettier, test

chore: minor change
  src/utils/dom.util.ts
Due: eslint, prettier, test

feat: progressbar support
  src/utils/progress-bar.util.ts
Due: eslint, prettier, test

chore: minor change
  src/modules/user/routes/sign-in/sign-in.route.vue
Due: eslint, stylelint, prettier, test

chore: minor change
  .gitignore
Due: none

chore: update .ncurc.json file
  .ncurc.json
Due: prettier

feat: added suspense component example
  src/components/utils/suspense/suspense.vue
Due: eslint, stylelint, prettier, test

chore: update script loader util
  src/utils/script-loader.util.ts
Due: eslint, prettier, test

chore: update http util
  src/locales/index.ts
  src/utils/http.util.ts
Due: eslint, prettier, test

feat: add attr as prop
  src/utils/script-loader.util.ts
Due: eslint, prettier, test

chore: minor change
  src/shims-vue.d.ts
Due: eslint, prettier, test

chore: improvements in locale integration
  src/locales/index.ts
  src/routes/index.ts
Due: eslint, prettier, test

feat: added new security util
  src/utils/security.util.ts
Due: eslint, prettier, test

Path conditions:
  eslint: any of: *.{js,ts,vue}
  stylelint: any of: *.{css,scss,vue}
  prettier: any of: *.{js,ts,vue,css,json,yml}
  test: any of: *.{js,jsx,ts,tsx,vue}
